/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.main-content {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00d2ff;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background: #00d2ff;
  left: 0;
  bottom: -8px;
}

.apod img, .rover-photos img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.apod img:hover, .rover-photos img:hover {
  transform: scale(1.05);
}

.apod p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

.neo-section img {
  width: 24px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.neo p {
  font-size: 1.2rem;
}

.rover-photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.rover-photos button {
  grid-column: 1 / -1;
  padding: 0.75rem 1.5rem;
  background: whitesmoke;
  border: none;
  border-radius: 8px;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.rover-photos button:hover {
  background: black;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .neo p {
    font-size: 1rem;
  }

  .rover-photos {
    grid-template-columns: 1fr;
  }
}


.apod-media {
  width: 100%;
  height: 100%;
  height: auto;
}

.apod iframe.apod-media {
  height: 100%;
  width: 100%;
}

.loading-banner {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  color: #ffffff;
  margin: 20px 0;
}
